video {
  width: 100vw;
 
}

.enter {
  position: absolute;
  font-family: cursive;
  font-size: 48pt;
  background-color: black;
  color: white;
  border: none;
border-radius: 45%;
  padding: 25px 45px;
  bottom: 50px;
  right: 50px;
}