video {
  width: 100vw;
}

.enter {
  position: absolute;
  font-family: cursive;
  font-size: 48pt;
  background-color: black;
  color: white;
  border: none;
border-radius: 45%;
  padding: 25px 45px;
  bottom: 50px;
  right: 50px;
}

.storefront-img {
  height: 350px;
  width: 400px;
  background-color: black;
}

.home-container {
  display: grid;
  margin-top: 150px;
  grid-template:  auto / 1fr 1fr 1fr 1fr 1fr ;
  gap: 75px;
}

.star {
  height: 20px;
}